@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: 0;
          box-sizing: 0;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #D1A701;
  position: relative;
  text-align: center;
}

h1, h2, p {
  color: #120501;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 16px;
}

a {
  color: #fdeb37;
  text-decoration: none;
}

a.anchor {
  position: relative;
  top: -72px;
}

nav, footer {
  background-color: #120501;
  font-family: "Inter", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  width: 100%;
}

@media (min-width: 992px) {
  nav ul {
    width: 760px;
  }
}

@media (min-width: 1300px) {
  nav ul {
    width: 860px;
  }
}

nav ul a:nth-child(1) {
  width: 18%;
}

@media (min-width: 360px) {
  nav ul a:nth-child(1) {
    width: 19%;
  }
}

@media (min-width: 576px) {
  nav ul a:nth-child(1) {
    width: 25%;
  }
}

nav ul a:nth-child(2) {
  width: 23%;
}

@media (min-width: 360px) {
  nav ul a:nth-child(2) {
    width: 24%;
  }
}

@media (min-width: 576px) {
  nav ul a:nth-child(2) {
    width: 25%;
  }
}

nav ul a:nth-child(3) {
  width: 30%;
}

@media (min-width: 360px) {
  nav ul a:nth-child(3) {
    width: 28%;
  }
}

@media (min-width: 576px) {
  nav ul a:nth-child(3) {
    width: 25%;
  }
}

nav ul a:nth-child(4) {
  width: 29%;
}

@media (min-width: 360px) {
  nav ul a:nth-child(4) {
    width: 29%;
  }
}

@media (min-width: 576px) {
  nav ul a:nth-child(4) {
    width: 25%;
  }
}

nav a {
  padding: 16px 0;
}

nav a:hover {
  background-color: #D1A701;
  color: #120501;
  font-weight: bold;
}

@media (min-width: 650px) {
  nav {
    font-size: 20px;
    height: 54px;
  }
}

section h1 {
  font-size: 32px;
}

@media (min-width: 1440px) {
  section h1 {
    font-size: 48px;
  }
}

#inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20vh;
}

#inicio h2 {
  font-size: 44px;
  line-height: 76px;
}

@media (min-height: 801px) {
  #inicio h2 {
    font-size: 64px;
    line-height: 128px;
  }
}

@media (max-height: 800px) {
  #inicio h2 {
    font-size: 40px;
    margin-top: 10px;
    line-height: 76px;
  }
}

@media (min-width: 1024px) {
  #inicio h2 {
    font-size: 64px;
    line-height: 128px;
  }
}

@media (min-width: 1360px) {
  #inicio h2 {
    font-size: 80px;
    line-height: 144px;
  }
}

#rest {
  position: absolute;
  top: 90vh;
  width: 100%;
}

@media (min-height: 740px) {
  #rest {
    top: 92vh;
  }
}

@media (max-height: 1280px) {
  #rest {
    top: 94.3vh;
  }
}

@media (max-height: 800px) {
  #rest {
    top: 92vh;
  }
}

@media (max-height: 593px) {
  #rest {
    top: 88vh;
  }
}

@media (max-height: 424px) {
  #rest {
    top: 83vh;
  }
}

@media (min-width: 1440px) {
  #rest {
    top: 92vh;
  }
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info h2 {
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 1440px) {
  .about__info h2 {
    font-size: 32px;
  }
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 32px;
  margin: 0 24px 0 32px;
  padding: 24px 0;
  width: 480px;
}

.about__text p {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: justify;
}

@media (min-width: 1440px) {
  .about__text p {
    font-size: 20px;
  }
}

@media (min-width: 1088px) {
  .about__text {
    padding-bottom: 0px;
  }
}

.about__skills__wrapper {
  margin: 0 32px 0 24px;
  width: 480px;
}

@media (min-width: 1072px) {
  .about__skills__wrapper {
    margin-top: 20px;
  }
}

.about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
}

.about__icon p {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0 32px;
}

@media (min-width: 1440px) {
  .about__icon p {
    font-size: 20px;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px auto 0;
  max-width: 1600px;
}

.project {
  margin: 0 24px 8px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1.5/1;
}

.project .project-content {
  background-color: #120501;
  height: 100%;
  opacity: 0;
  padding: 20% 0 0 0;
  position: absolute;
  -webkit-transition: all cubic-bezier(0.5, 0, 0, 1) 0.45s;
  transition: all cubic-bezier(0.5, 0, 0, 1) 0.45s;
  top: 300px;
  width: 100%;
  z-index: 1;
}

.project img {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
}

@media (min-width: 500px) {
  .project {
    aspect-ratio: none;
    height: 300px;
    width: 450px;
  }
}

@media (max-height: 414px) {
  .project {
    aspect-ratio: none;
    width: 360px;
    height: 240px;
  }
}

@media (max-height: 360px) {
  .project {
    aspect-ratio: none;
    width: 288px;
    height: 192px;
  }
}

@media (max-height: 320px) {
  .project {
    aspect-ratio: none;
    width: 249px;
    height: 166px;
  }
}

.project:hover .project-content, .project:active .project-content {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  top: 0;
}

.project:hover img, .project:active img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: -10% 0 0 -10%;
  width: 120%;
}

@media (min-width: 500px) {
  .project:hover img, .project:active img {
    margin: -30px 0 0 -45px;
    width: 540px;
  }
}

@media (max-height: 414px) {
  .project:hover img, .project:active img {
    margin: -36px 0 0 -36px;
    width: 432px;
  }
}

@media (max-height: 360px) {
  .project:hover img, .project:active img {
    margin: -28.8px 0 0 -28.8px;
    width: 345.6px;
  }
}

@media (max-height: 320px) {
  .project:hover img, .project:active img {
    margin: -24.9px 0 0 -24.9px;
    width: 298.8px;
  }
}

.project-content h6 {
  color: #fdeb37;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.project-content p, .project-content i {
  color: whitesmoke;
  font-size: 14px;
}

.project-content a {
  display: inline;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-content .website-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 0;
}

.project-content .website-github p {
  display: inline;
}

.project-content .website-github .project-website, .project-content .website-github .project-github {
  background-color: #120501;
  padding: 8px;
}

.project-content .website-github .project-website:hover p, .project-content .website-github .project-website:hover i, .project-content .website-github .project-github:hover p, .project-content .website-github .project-github:hover i, .project-content .website-github .project-website:active p, .project-content .website-github .project-website:active i, .project-content .website-github .project-github:hover p, .project-content .website-github .project-github:hover i {
  color: #fdeb37;
}

.project-content .website-github .project-website {
  margin: 0 32px 0 0;
}

#contact {
  min-height: 82vh;
  margin-top: 48px;
}

#contact p {
  font-size: 20px;
  font-weight: bold;
  margin: 34px 0 20px;
}

@media (max-height: 414px) {
  #contact p {
    margin: 24px 0 20px;
  }
}

@media (max-height: 320px) {
  #contact p {
    margin: 25px 0 20px;
  }
}

@media (min-height: 700px) {
  #contact p {
    margin: 40px 0 32px;
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  #contact p {
    font-size: 28px;
  }
}

@media (min-height: 930px) {
  #contact #first-line {
    margin-bottom: 52px;
  }
}

@media (max-height: 320px) {
  #contact #third-line {
    display: none;
  }
}

#contact .social-text {
  font-size: 16px;
}

@media (min-height: 930px) {
  #contact .social-text {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  #contact .social-text {
    font-size: 24px;
  }
}

@media (min-height: 820px) {
  #contact {
    min-height: 84vh;
  }
}

@media (max-height: 487px) {
  #contact .fa-coffee {
    display: none;
  }
}

@media (min-height: 700px) {
  #contact .fa-coffee {
    margin-bottom: 64px;
    margin-top: 64px;
  }
}

#contact h1 {
  margin-bottom: 48px;
}

@media (min-width: 1536px) {
  #contact h1 {
    margin-top: -21px;
  }
}

@media (min-width: 1600px) {
  #contact h1 {
    margin-top: -12px;
  }
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 36px;
  margin-top: 36px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-height: 700px) {
  .social-buttons {
    margin-bottom: 64px;
    margin-top: 64px;
  }
}

.social-button p, .social-button i {
  color: #120501;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.social-button:hover p, .social-button:hover i {
  color: #006000;
}

@media (min-height: 700px) {
  .fa-3x {
    display: none;
  }
}

.fa-4x {
  display: none;
}

@media (min-height: 700px) {
  .fa-4x {
    display: block;
  }
}

.fa-5x {
  display: none;
}

footer {
  font-size: 12px;
  padding: 12px 0;
  width: 100%;
}

@media (min-height: 800px) {
  footer {
    margin-top: 5px;
  }
}

@media (min-height: 930px) {
  footer {
    margin-top: 1vh;
  }
}

@media (min-height: 952px) {
  footer {
    margin-top: 2vh;
  }
}

@media (min-height: 980px) {
  footer {
    margin-top: 3vh;
  }
}

@media (min-height: 1150px) {
  footer {
    margin-top: 5vh;
  }
}

@media (min-width: 1440px) {
  footer {
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */