@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$monserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$black: #120501;
$yellow: #fdeb37;
$darkYellow: #D1A701;
$green: #006000;

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $darkYellow;
    position: relative;
    text-align: center;
}

h1, h2, p {
    color: $black;
    font-family: $monserrat;
}

p {
    font-size: 16px;
}

a {
    color: $yellow;
    text-decoration: none;
}
a.anchor {
    position: relative;
    top: -72px;
}

nav, footer {
    background-color: $black;
    font-family: $inter;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 99;
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
        @media (min-width: 992px)
            {
                width: 760px;
            }
        @media (min-width: 1300px)
            {
                width: 860px;
            }
        
        a:nth-child(1) {
            width: 18%;
            @media (min-width: 360px) {
                width: 19%;
            }
            @media (min-width: 576px) {
                width: 25%;
            }
        }
        a:nth-child(2) {
            width: 23%;
            @media (min-width: 360px) {
                width: 24%;
            }
            @media (min-width: 576px) {
                width: 25%;
            }
        }
        a:nth-child(3) {
            width: 30%;
            @media (min-width: 360px) {
                width: 28%;
            }
            @media (min-width: 576px) {
                width: 25%;
            }
        }
        a:nth-child(4) {
            width: 29%;
            @media (min-width: 360px) {
                width: 29%;
            }
            @media (min-width: 576px) {
                width: 25%;
            }
        }
    }
    a {
        padding: 16px 0; // para tablet lo podriamos dejar en 25% a cada uno que queda bien
    }
    a:hover {
        background-color: $darkYellow;
        color: $black;
        font-weight: bold;
    }
    @media (min-width: 650px) {
        font-size: 20px;
        height: 54px;
    }
}

section {
    h1 {
        font-size: 32px;
        
        @media (min-width: 1440px) {
            font-size: 48px;
        }
    }
}

#inicio {
    display: flex;
    justify-content: center;
    padding-top: 20vh;

    h2 {
        font-size: 44px;
        line-height: 76px;
        @media (min-height: 801px) {
            font-size: 64px;
            line-height: 128px;
        }
        @media (max-height: 800px) {
            font-size: 40px;
            margin-top: 10px;
            line-height: 76px;
        }
        @media (min-width: 1024px) {
            font-size: 64px;
            line-height: 128px;
        }
        @media (min-width: 1360px) {
            font-size: 80px;
            line-height: 144px;
        }
    }
}

#rest {
    position: absolute;
    top: 90vh;
    width: 100%;
    @media (min-height: 740px) {
        top: 92vh;
    }
    @media (max-height: 1280px) {
        top: 94.3vh;
    }
    @media (max-height: 800px) {
        top: 92vh;
    }
    @media (max-height: 593px) {
        top: 88vh;
    }
    @media (max-height: 424px) {
        top: 83vh;
    }
    @media (min-width: 1440px) {
        top: 92vh;
    }
}

.about__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        font-size: 24px;
        font-weight:600;
        @media (min-width: 1440px) {
            font-size: 32px;
        }
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    line-height: 32px;
    margin: 0 24px 0 32px;
    padding: 24px 0;
    width: 480px;
    p {
        font-weight: 500;
        margin-bottom: 20px;
        text-align: justify;
        @media (min-width: 1440px) {
            font-size: 20px;
        }
    }

    @media (min-width: 1088px) {
        padding-bottom: 0px;
    }
}

.about__skills__wrapper {
    margin: 0 32px 0 24px;
    width: 480px;
    @media (min-width: 1072px) {
        margin-top: 20px;
    }
}

.about__skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about__icon {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    p {
        font-size: 16px;
        font-weight:600;
        padding: 12px 0 32px;
        @media (min-width: 1440px) {
            font-size: 20px;
        }
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px auto 0;
    max-width: 1600px;
}

.project { // era 270px el height
    margin: 0 24px 8px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1.5/1;
    .project-content {
        background-color: $black;
        height: 100%;
        opacity: 0;
        padding: 20% 0 0 0;
        position: absolute;
        transition: all cubic-bezier(0.5, 0, 0, 1) 0.45s;
        top: 300px;
        width: 100%;
        z-index: 1;
    }
    img {
        transition: all 1s;
        width: 100%;
    }

    @media (min-width: 500px) {
        aspect-ratio: none;
        height: 300px;
        width: 450px;
    }
    @media (max-height: 414px) {
        aspect-ratio: none;
        width: 360px;
        height: 240px;
    }
    @media (max-height: 360px) {
        aspect-ratio: none;
        width: 288px;
        height: 192px;
    }
    @media (max-height: 320px) {
        aspect-ratio: none;
        width: 249px;
        height: 166px;
    }
}

.project:hover, .project:active {
    .project-content {
        background-color: rgba(0,0,0,0.8);
        opacity: 1;
        top: 0;
    }
    img {
        filter: grayscale(100%);
        margin: -10% 0 0 -10%;
        width: 120%;
        
        @media (min-width: 500px) {
            margin: -30px 0 0 -45px;
            width: 540px;
        }
        @media (max-height: 414px) {
            margin: -36px 0 0 -36px;
            width: 432px;
        }
        @media (max-height: 360px) {
            margin: -28.8px 0 0 -28.8px;
            width: 345.6px;
        }
        @media (max-height: 320px) {
            margin: -24.9px 0 0 -24.9px;
            width: 298.8px;
        }
    }
}

.project-content {
    h6 {
        color: $yellow;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px 0;
    }
    p, i {
        color: whitesmoke;
        font-size: 14px;
    }
    a {
        display: inline;
        transition: all 0.5s ease;
    }

    .website-github {
        display: flex;
        justify-content: center;
        margin: 24px 0 0;
        p {
            display: inline;
        }
        .project-website, .project-github {
            background-color: $black;
            padding: 8px;
        }
        .project-website:hover, .project-github:hover, .project-website:active, .project-github:hover{
            p, i {
                color: $yellow;
            }
        }
        .project-website {
            margin: 0 32px 0 0;
        }
    }
}

#contact {
    min-height: 82vh;
    margin-top: 48px;
    p {
        font-size: 20px;
        font-weight: bold;
        margin: 34px 0 20px;
        @media (max-height: 414px) {
            margin: 24px 0 20px;
        }
        @media (max-height: 320px) {
            margin: 25px 0 20px;
        }
        @media (min-height: 700px) {
            margin: 40px 0 32px;
            font-size: 24px;
        }
        @media (min-width: 1440px) {
            font-size: 28px;
        }
    }

    #first-line {
        @media (min-height: 930px) {
            margin-bottom: 52px;
        }
    }
    #third-line {
        @media (max-height: 320px) {
            display: none;
        }
    }
    
    .social-text{
        font-size: 16px;
        @media (min-height: 930px) {
            font-size: 20px;
        }
        @media (min-width: 1440px) {
            font-size: 24px;
        }
}

    @media (min-height: 820px) {
        min-height: 84vh;
    }

    .fa-coffee {
        @media (max-height: 487px) {
            display: none;
        }
        @media (min-height: 700px) {
            margin-bottom: 64px;
            margin-top: 64px;
        }
    }

    h1 {
        margin-bottom: 48px;
        @media (min-width: 1536px) {
            margin-top: -21px;
        }
        @media (min-width: 1600px) {
            margin-top: -12px;
        }
    }
}

.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 36px;
    margin-top: 36px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    
    @media (min-height: 700px) {
        margin-bottom: 64px;
        margin-top: 64px;
    }
}
.social-button {
    p, i {
        color: $black;
        transition: color 0.4s ease;
    }
}
.social-button:hover {
    p, i {
        color: $green;
    }
}

.fa-3x {
    @media (min-height: 700px) {
        display: none;
    }
}

.fa-4x {
    display: none;
    @media (min-height: 700px) {
        display:block;
    }
}

.fa-5x {
    display: none;
}

footer {
    font-size: 12px;
    padding: 12px 0;
    width: 100%;
    @media (min-height: 800px) {
        margin-top: 5px;
    }
    @media (min-height: 930px) {
        margin-top: 1vh;
    }
    @media (min-height: 952px) {
        margin-top: 2vh;
    }
    @media (min-height: 980px) {
        margin-top: 3vh;
    }
    @media (min-height: 1150px) {
        margin-top: 5vh;
    }
    @media (min-width: 1440px) {
        font-size: 16px;
    }
}